@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Circular";
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/circular/circular-black.ttf) format("truetype");
  }

  @font-face {
    font-family: "Circular";
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/circular/circular-bold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Circular";
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/circular/circular-medium.ttf) format("truetype");
  }

  @font-face {
    font-family: "Circular";
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/circular/circular-book.ttf) format("truetype");
  }
}

body {
  font-family: "Circular";
}
